 <!-- ### about-section ### -->
 <section id="about-section">
   <div class="container">
     <h2>Sobre nós</h2>

     <!-- presentation grid -->
     <div class="row">

       <!-- description -->
       <div class="col-12 col-lg-4">
         <p>
           Sabemos que a renda extra é importante para manter finanças saudáveis. Por isso, no nosso canal, damos dicas
           de
           aplicativos que podem render dinheiro extra e muita diversão.
         </p>
         <p>
           Confira os apps indicados, assista nossos vídeos e aprenda tudo o que precisa para começar a ganhar dinheiro
           online!
         </p>
       </div>

       <!-- video -->
       <div class="col-12 col-lg-8">
         <iframe src="https://www.youtube.com/embed/Jo3R7X32Hjo" class="video" frameborder="0"
           allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
     </div>

   </div> <!-- /.container -->
 </section> <!-- /#about-section -->