<!-- ### social-section -->
<footer id="social-section" class="flex-column justify-content-center align-items-center">
  <div class="social-pannel">
    <!-- <a href="#" class="d-none"><i id="i-facebook" class="fab fa-facebook fa-2x"></i></a>
    <a href="#" class="d-none"><i id="i-twitter" class="fab fa-twitter fa-2x"></i></a> -->

    <a href="https://www.instagram.com/uptoupcanal/">
      <i id="i-instagram" class="fab fa-instagram fa-2x"></i>
    </a>

    <a href="https://www.youtube.com/channel/UCqkpS5t_w4yMPS17qQoHZBQ">
      <i id="i-youtube" class="fab fa-youtube fa-2x"></i>
    </a>
  </div> <!-- /.social-pannel -->
  <span><a href="#">Política de Privacidade</a></span>
</footer> <!-- /#social-section -->