<header>
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-light fixed-top">

    <!-- navbar-brand -->
    <a class="navbar-brand" href="#">Up-to-Up <img src="./img/brand.ico" alt=""></a>

    <!-- navbar-toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
      aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navigation -->
    <div class="navbar-collapse collapse" id="navigation">
      <a href="#download-section" class="nav-item nav-link">Baixe os Apps</a>
      <a href="#about-section" class="nav-item nav-link">Sobre nós</a>
      <a href="#contact-section" class="nav-item nav-link">Contato</a>
      <a href="#social-section" class="nav-item nav-link">Redes Sociais</a>
    </div> <!-- /#navigation -->
  </nav>

</header>