a {
  text-decoration: none;
}

footer {
  background-image: url(https://via.placeholder.com/480x100.jpg);
  background-size: cover;
  background-position: center;
  height: 50px;
  /*Adjust to different viewport heights*/

  display: flex;
  /* flex-direction: column; */
}

.masterhead {
  background-image: url(../img/banner.png);
  background-size: cover;
  background-position: center;
  height: 300px;
  /*Adjust to different viewport heights*/
}

.download-section {
  background-image: url(https://via.placeholder.com/480x400.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  /*Adjust to different viewport heights*/
}

.social-pannel>a {
  padding: 0 .75em;
}