a {
  text-decoration: none;
}

footer {
  background-image: url(https://via.placeholder.com/480x100.jpg);
  background-size: cover;
  background-position: center;
  height: 100px;
  /*Adjust to different viewport heights*/
}

.masterhead {
  background-image: url(https://via.placeholder.com/480x300.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  /*Adjust to different viewport heights*/
}

.download-section {
  background-image: url(https://via.placeholder.com/480x400.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  /*Adjust to different viewport heights*/
}

.contact-form>label,
input,
textarea,
button {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-transform: uppercase;
}